on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  ci:
    uses: './.github/workflows/ci.yml'

  version-tag:
    name: Read and Validate Version
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{ steps.set-output.outputs.version_tag }}
    needs: ci
    steps:
      - uses: actions/checkout@v5

      - name: Validate and set version tag
        shell: bash
        run: |
          TAG=${GITHUB_REF#refs/*/}
          echo "TAG is \`$TAG\`"
          if [[ "$TAG" =~ ^v([0-9]+\.){2}[0-9]+$ ]]; then
            echo VERSION_TAG=$TAG >> $GITHUB_ENV
          else
            exit 1
          fi
      
      - name: Check version in Cargo.toml
        shell: bash
        run: |
          VERSION_FROM_TAG=$(echo $VERSION_TAG | sed -E 's/v(.+)/\1/g')
          VERSION_FROM_CARGO_TOML=$(sed -n -E 's/^version = \"(.+)\"$/\1/p' \
            Cargo.toml)
          if [[ $VERSION_FROM_TAG != $VERSION_FROM_CARGO_TOML ]]; then
            echo "Version from tag ($VERSION_FROM_TAG) does not match" \
              "in Cargo.toml ($VERSION_FROM_CARGO_TOML)"
            exit 1
          fi

      - name: Set version_tag output
        id: set-output
        run: |
          echo "$VERSION_TAG"
          echo "version_tag=$VERSION_TAG" >> $GITHUB_OUTPUT

  release:
    uses: './.github/workflows/release.yml'
    needs: version-tag
    with:
      version_tag: ${{ needs.version-tag.outputs.version_tag }}
