on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      tag:
        description: Tag name for the release (ex. v0.1.0)
        required: true
        type: string

jobs:
  ci:
    uses: './.github/workflows/ci.yml'
  cd:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - uses: actions/checkout@v5

      - name: Validate and set version tag
        shell: bash
        run: |
          TAG=${GITHUB_REF#refs/*/}
          if [[ -z $TAG ]]; then
            TAG=${{ github.workflow.inputs.tag }}
          fi
          echo "TAG is `$TAG`"
          if [[ $TAG =~ ^v([0-9]+\.){2}[0-9]+$ ]]; then
            echo VERSION_TAG=$TAG >> $GITHUB_ENV
          else
            exit 1
          fi
      
      - name: Check version in Cargo.toml
        shell: bash
        run: |
          VERSION_FROM_TAG=$(echo $VERSION_TAG | sed -E 's/v(.+)/\1/g')
          VERSION_FROM_CARGO_TOML=$(sed -n -E 's/^version = \"(.+)\"$/\1/p' \
            Cargo.toml)
          if [[ $VERSION_FROM_TAG -ne $VERSION_FROM_CARGO_TOML ]]; then
            echo "Version from tag ($VERSION_FROM_TAG) does not match" \
              "in Cargo.toml ($VERSION_FROM_CARGO_TOML)"
            exit 1
          fi

      - name: Build and push docker image
        uses: './.github/workflows/build-docker-image.yml'
        with:
          version-tag: ${{ github.env.VERSION_TAG }}
    