name: Docker Image Release

on:
  workflow_dispatch:
    inputs:
      version_tag:
        type: string
        description: Tag to use for docker image
        required: true
  workflow_call:
    inputs:
      version_tag:
        type: string
        description: Tag to use for docker image
        required: true

jobs:
  build-and-push:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build and Push Docker Container Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/honeybot:${{ inputs.version_tag }}

